

/* Navigation Bar */
#nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
    width: 100%;
    padding: 16px;
    padding-left: 10%;
    padding-right: 10%;
    border-bottom: 1px solid #151934;
    background-color: #060B27;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;

    min-width: 400px;
}

#nav-bar .logo {
    cursor: pointer;
}

#nav-bar .nav-list ul {
    color: #8f9bb7;
    list-style-type: none;
    display: flex;
    gap: 32px;
    margin: 0;
    padding: 0;
}

#nav-bar .nav-list ul li:hover {
    cursor: pointer;
    color: white;
    font-weight: 500;
}

#nav-bar .btn {
    color: white;
    background-color: #7214FF;
    padding: 8px 24px;
    border-radius: 32px;
    border: none;
    cursor: pointer;
}

/* Hamburger Menu */
.burger {
    position: relative;
    width: 40px;
    height: 30px;
    background: transparent;
    cursor: pointer;
    display: none;
}

.burger input {
    display: none;
}

.burger span {
    display: block;
    position: absolute;
    height: 4px;
    width: 100%;
    background: white; /* Change hamburger color to white */
    border-radius: 9px;
    opacity: 1;
    left: 0;
    transition: .25s ease-in-out;
}

.burger span:nth-of-type(1) {
    top: 0;
    transform: rotate(0deg);
    transform-origin: center;
}

.burger span:nth-of-type(2) {
    top: 50%;
    transform: translateY(-50%);
    transform-origin: center;
}

.burger span:nth-of-type(3) {
    top: 100%;
    transform: translateY(-100%);
    transform-origin: center;
}

/* Cross (X) effect when checked */
.burger input:checked ~ span:nth-of-type(1) {
    transform: rotate(45deg);
    top: 50%;
    left: 0;
    transform-origin: center;
}

.burger input:checked ~ span:nth-of-type(2) {
    width: 0%;
    opacity: 0;
}

.burger input:checked ~ span:nth-of-type(3) {
    transform: rotate(-45deg);
    top: 50%;
    left: 0;
    transform-origin: center;
}

/* Responsive Design */
@media (max-width: 1024px) {
    #nav-bar .nav-list ul {
        gap: 24px;
    }

    .logo{
        transform: scale(0.9);
    }
    .burger{
        transform: scale(0.9);
    }

}

@media (max-width: 900px) {
    .burger {
        display: block;
    }

    #nav-bar .nav-list {
        display: none;
        flex-direction: column;
        align-items: center;
        position: absolute;
        top: 60px;
        left: 0;
        right: 0;
        background-color: #060B27;
        transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
        transform: translateY(-100%);
        opacity: 0;
    }

    #nav-bar .nav-list.active {
        display: flex;
        transform: translateY(0);
        padding: 36px;
        opacity: 1;
    }

    #nav-bar .nav-list ul {
        flex-direction: column;
        gap: 16px;
        align-items: center;
    }

    #nav-bar .nav-list ul li {
        margin: 8px 0;
    }

    #nav-bar .btn {
        display: none;
    }

    .logo{
        transform: scale(0.8);
    }
    .burger{
        transform: scale(0.8);
    }

}

@media (max-width: 480px) {
    .logo{
        transform: scale(0.6);
    }
    .burger{
        transform: scale(0.6);
    }
}