*,
*::after,
*::before {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
}

html {
    background: #060B27;
    margin-left: 10%;
    margin-right: 10%;
    min-width: 360px;
    scroll-behavior: smooth;
}

body {
    display: flex;
    flex-direction: column;
    margin: 0;
    overflow-x: hidden;
}

.btn {
    color: white;
    background-color: #7214FF;
    padding: 8px 24px;
    border-radius: 32px;
    border: none;
    cursor: pointer;
}





/* Tablet Portrait and Landscape */
@media (max-width: 1024px) {
    html {
        margin-left: 5%;
        margin-right: 5%;
    }
}

/* Mobile Portrait */
@media (max-width: 480px) and (orientation: portrait) {
    html {
        margin-left: 2%;
        margin-right: 2%;
    }

}

/* Mobile Landscape */
@media (max-width: 812px) and (orientation: landscape) {
    html {
        margin-left: 5%;
        margin-right: 5%;
    }
}
